        #a{
          color: blue;
        }
        #b{
          color:darkgreen;
        }
        #c{
          color:brown;
        }
        #d{
          color:chartreuse;
        }
        #e{
          color: blueviolet;
        }
        #f{
          color:darkorange;
        }
       .a{
        color: blueviolet;
       }
       #g{
          color:aqua;
        }
        #h{
          color:blueviolet;
        }  
        #i{
          color:brown;
        }
        #j{
          color:blue;
        }
        #k{
          color:darkorange;
        }
        #l{
          color:aquamarine;
        }
       #m{
          color:cyan;
        }
        #n{
          color :darkmagenta;
        }
        #o{
          color:deeppink;
        }
        #p{
          color:forestgreen;
        }
        #q{
          color :darkorchid;
        }
        #r{
          color :darkred;
        }
        .A{
          color:darkorange;
        }
        #s{
          color:chartreuse;
        }
        #t{
          color:blue;
        }
        #v{
          color:fuchsia;
        }
        #w{
          color;
        }
        #x{
          color;
        }
        .b{
          color:darkmagenta;
        }
        .c{
          color:chartreuse;
        }
        .d{
          color:darkmagenta;
        }
        .e{
          color:brown;
        }
        .f{
          color:blueviolet;
        }
        .g{
          color:darkgreen;
        }





